<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jimmy</title>

    <%= csrf_meta_tags %>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="icon.png">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.ravenjs.com/3.20.1/raven.min.js" crossorigin="anonymous"></script> <!-- Sentry -->
    <script>
      Raven.config("<%= ENV['SENTRY_PRIVATE_DSN'] %>").install()
    </script>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
